name: Generate SBOM, Run Semgrep, and Run Gitleaks

on:
  workflow_dispatch:

jobs:
  secops:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image
      run: |
        docker build . -t my-juice-shop

    - name: Install syft
      run: |
        curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

    - name: Generate SBOM from Docker Image
      run: |
        syft docker:my-juice-shop -o json > sbom.json

    - name: Upload SBOM Artifact
      uses: actions/upload-artifact@v4
      with:
        name: sbom
        path: sbom.json

    - name: Install semgrep
      run: |
        pip install semgrep

    - name: Run semgrep scan
      run: |
        semgrep scan --config auto --sarif --output semgrep-results.sarif

    - name: Upload Semgrep SARIF Artifact
      uses: actions/upload-artifact@v4
      with:
        name: semgrep-sarif
        path: semgrep-results.sarif

    - name: Install Gitleaks
      run: |
        curl -sL https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks-linux-amd64 -o gitleaks
        chmod +x gitleaks
        sudo mv gitleaks /usr/local/bin/

    - name: Run Gitleaks Scan
      continue-on-error: true
      run: |
        gitleaks detect --source . --report-format sarif --report-path gitleaks-report.sarif

    - name: Upload Gitleaks SARIF Artifact
      uses: actions/upload-artifact@v4
      with:
        name: gitleaks-sarif
        path: gitleaks-report.sarif

